body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    
}

.chat-container {
    max-width: 600px;
    border: none;
    margin: 50px auto;
    border:1px solid;
    border-radius: 8px;
    box-shadow: 20px 20px 10px rgba(232, 13, 13, 0.1);
    overflow: hidden;
}

.chat-header {
    background-color: #007bff;
    color: #fff9f9;
    padding: 15px;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    padding-bottom: 15px;
    background-color: #fff9f9;
    border: none;
   
}

.chat-messages {
    padding: 15px;
    overflow-y: scroll;
    height: 300px;
    border: 1px solid;
    margin-left: 200px;

    
}

.chat-input {
    background-color: rgb(255, 255, 255);
    margin-top: 0;
    padding-top: 0;
}

.Send-button {
    padding: 15px 40px;
    background: #007bff;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 12px;
    letter-spacing: 3px;
}

input {
    
    padding: 10px;
    width: 40%;
    margin-left: 210px;
    border: none;
   
}

 .sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    position: absolute;
    
    
}
.logo{
    height: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.sidebar-link{
    background-color:#007bff;
    display: flex;
    padding:16px;
    margin-top: 10px;
    box-shadow: 1px 2px  4px;
    border-radius: 12px;  
    width: 150px;
    margin-left: 10px;

    
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 12px;
    letter-spacing: 3px;
    font-size: large;
    font-weight: bolder;
}
 
